<h2 class="headtitle">{{headtitle | uppercase}}</h2>
<ul *ngFor="let datanew of groupCountry">
    <li>{{datanew.country}}
        <ul *ngFor="let datanew1 of datanew.people">
            <li>{{datanew1.name}}</li>
        </ul>
    </li>
</ul>
<ul *ngFor="let group of peopleByCountry">
    <li>
        {{group.country}}
        <ul>
            <li *ngFor="let person of group.people">
                {{person.name}}
            </li>
        </ul>
    </li>
</ul>
<ul *ngFor="let data of people;let i =index;">
    {{i+1}} - {{data.name}}
</ul>
<div *ngFor="let fetch of fetchData">
    {{fetch.title}} - {{fetch.description}} - {{fetch.tagline}} - {{fetch.date}}
</div>
<input type=”text” [(ngModel)]='name' />
<h2>{{name}}</h2>
<hr/>
<img [src]="imageUrl"/>
<button (click)="show()">nsdsadadssadd</button>
<div *ngIf="example else template2">
    Nitesh khatri
</div>
<ng-template #template2>
    <span>This text is rendered because it resides in a template that's invoked.</span>
    <br/>
    <button class="tab-button" (click)="logintt()">{{LoginText}}</button>
    <button class="tab-button" (click)="signup()">{{SignUpText}}</button>
</ng-template>
<!-- <ng-template #template2>This is no result</ng-template> -->

<hr/>
<input type="radio" name="radio" (click)="Example='one'"/>
One
<input type="radio" name="radio" (click)="Example='two'"/>
Two
<input type="radio" name="radio" (click)="Example='three'"/>
Three 
<div [ngSwitch]="Example">
    <ng-template [ngSwitchCase]="'one'">one</ng-template>
    <ng-template [ngSwitchCase]="'two'">two</ng-template>
    <ng-template [ngSwitchCase]="'three'">three</ng-template>
    <ng-template ngSwitchDefault>otherwise</ng-template>
</div>
<hr/>
<ul>
<li [class.active]="viewMode==='map'" (click)="viewMode ='map'">Map</li>
<li [class.active]="viewMode==='list'" (click)="viewMode ='list'">List</li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map</div>
    <div *ngSwitchCase="'list'">List</div>
</div>
<hr/>
{{unreadMessages}}

<input type="text" [(ngModel)]="nameexample"/>
{{nameexample}}
<button (click)="btnClear()">Clear</button>
<p>json pipe: {{itemsnew | json}}</p>
{{max}}
<p>100x80 = {{100*80}}</p>
<p>Largest: {{max(100, 200)}}</p>
<p>Welcome {{getFName()}}, {{getLName()}}</p>
<p>{{ 'Hello & Welcome to '+ ' Angular Interpolation '}}</p>
{{getTitle()}}

<div class="lessons-list" *ngIf="lessons else loading">
    lessons
  </div>
  
  <ng-template #loading>
      <div>Loading...</div>
  </ng-template>
 <div>
    <button class="tab-button" 
            (click)="login()">{{loginText}}</button>
    <button class="tab-button" 
            (click)="signUp()">{{signUpText}}</button>
</div>

  
<h2>Complex form with address component</h2>
<form [formGroup]="form">
  <div>
    <label>Firstname:</label>
    <input type="text" name="firstName" formControlName="firstName">
  </div>
  <div>
    <label>Lastname:</label>
    <input type="text" name="lastName"  formControlName="lastName">
  </div>
  <div>
    <label>zip:</label>
    <input type="text" name="lastName"  formControlName="zip">
  </div>
  <div>
    <label>street:</label>
    <input type="text" name="lastName"  formControlName="street">
  </div>
  <div>
    <label>city:</label>
    <input type="text" name="lastName"  formControlName="city">
  </div>
</form>

<p>{{form.value.firstName}}</p>
<p>{{form.value.lastName}}</p>
<p>{{form.value.zip}}</p>
<p>{{form.value.street}}</p>
<p>{{form.value.city}}</p>
{{parentMessage}}
<app-customer [name]="stringValue" [age]="numberValue" [account]="accountObject"></app-customer>
<div><img src="{{itemImageUrl}}"></div>
<button [disabled]='isdiabled'>Disable me</button>  
<p [ngStyle]="myStyles">{{fullName}}</p>
<ul>
    <li *ngFor="let rndNum of randomNums">{{rndNum.number}}</li>
</ul>
<p [ngStyle]="myStyles">{{getCurrentTime()}}</p>
<p>{{caption}}</p>
<p>{{text}}</p>
<p>2 +2 = {{2 + 2}}</p>
<p>2 * 3 = {{2 * 3}}</p>
<p>{{"2 + 2 != "+ 2 + 2}}</p>
<p>{{"2 + 2 = " + (2+2)}}</p>
<app-example1></app-example1>
<div *ngFor="let nd of newdata">
    <h3>{{nd.title}}</h3>
    <p>{{nd.body}}</p>
    <button class="btn btn-" (click)="btnRemoveNew(i)">&times;</button>
</div>


<div class="container mt-5">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>userId</th>
                <th>Id</th>
                <th>Title</th>
                <th>Body</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let result of results">
                <tr>
                    <td>{{ result.userId }}</td>
                    <td>{{ result.id }}</td>
                    <td>{{ result.title }}</td>
                    <td>{{ result.body }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>

<div *ngFor="let d of ds">
    <h2>{{d.name}}</h2>
    <p>{{d.username}}</p>
    <p>{{d.email}}</p>
    <button (click)="btnRemovee(i)">&times;</button>
</div>
<hr/>
<div>
    <li *ngFor="let post of posts">
         <a  href="{{post.path}}" target="_blank">  
             <span  style="font-size: 20px;text-align: center;">{{post.title}}                 
              </span>
        </a>
    </li>
</div>
<hr/>
<p>
    I turned the corner
    <ng-container *ngIf="herotwo">
      and saw {{herotwo.name}}. I waved
    </ng-container>and continued on my way.
  </p>
<p>{{birthday | date:'dd-MMM-yyyy'}}</p>
<nav [style]='navStyle'>
    <a [style.text-decoration]="activeLinkStyle">Home Page</a>
    <a [style.text-decoration]="linkStyle">Login</a>
  </nav>`
<button type="button" [disabled]="isUnchanged">Disabled Button</button>
<hr/>
<table>
    <tr [attr.rowspan]="2">
        <td [attr.colspan]="1+2">Three four</td>
        <td [attr.colspan]="1+2">Three four</td>
        <td [attr.colspan]="1+2">Three four</td>
        <td [attr.colspan]="1+2">Three four</td>
    </tr>
    <tr>
        <td [attr.colspan]="1+2">Three 11</td>
        <td [attr.colspan]="1+2">Three 111</td>
        <td [attr.colspan]="1+2">Three 1111</td>
    </tr>
</table>
<img alt="item" [src]="itemImageUrl">
<hr/>
<h1>Hello, {{customer}}</h1>
<ul>
<!-- Ebony and Chiho in a list-->
<li *ngFor="let customer of customers">{{ customer.value }}</li>
</ul>
<hr/>
{{currentCustomer}}
<div><img alt="item" src="{{itemImageUrl}}"></div>
<app-item-output (newItemEvent)="addItem($event)"></app-item-output>
<ul>
    <li *ngFor="let item of items">{{item}}</li>
</ul>
<hr/>
<h3>Countdown to Liftoff (via local variable)</h3>
<button type="button" (click)="timer.start()">Start</button>
<button type="button" (click)="timer.stop()">Stop</button>
<div class="seconds">{{timer.seconds}}</div>
<app-countdowntimer #timer></app-countdowntimer>
<hr/>
<h3>Agree: {{agreed}}, Disagree: {{disagreed}}</h3>
<app-voter (voted)="onVoted($event)" [name]="voter" *ngFor="let voter of voters"></app-voter>
<hr/>
<h3>Version {{major}}.{{minor}}</h3>
<h4>Change log:</h4>

<ul>
    <li *ngFor="let change of changeLog">{{change}}</li>
</ul>
<input type="text" [(ngModel)]="hero"/>
{{hero}}
<hr/>
<span>{{amount | currency:'INR'}} </span>
  <hr/>

<button (click)="onLogMe()">Logger count</button>
<button type="button" (click)="onEditClick()">{{canEdit ? true : false}}</button>
<br/>
<div *ngIf="canEdit; else noEdit">
    <p>You can edit the following paragraph.</p>
</div>
<ng-template #noEdit>
    <p>The following paragraph is read only. Try clicking the button!</p>
</ng-template>
<p>{{this.canEdit}}</p>
<hr/>
<p [id]="sayHelloId">This is paragraph.</p>
<button [style.color]="fontColor"
  type="button"
  [disabled]="canClick"
  (click)="sayMessage()">
  Trigger alert message
</button>
{{count}}
<button (click)="btninc()">+</button>
<button (click)="btndec()">-</button>
<button (click)="btnreset()">reset</button>

<ul>
    <li *ngFor="let result of apiDataTwo">
        <h3>{{result.title}}</h3>
        <p>{{result.body}}</p>
    </li>
</ul>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>UserId</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let datas of httpData">
            <td>{{datas.id}}</td>
            <td>{{datas.title}}</td>
            <td>{{datas.userId}}</td>
            <td>{{datas.completed}}</td>
        </tr>
    </tbody>
</table>
<p *ngIf="!showelement">ShowElement</p>
<div class="counter">
    <button (click)="increment()">increment</button>
    <button (click)="decrement()">decrement</button>
    <input type="text" [value]="countdata"/>
    <p>{{countdata}}</p>
</div>
<hr/>
<table border="1" cellpadding="10" cellspacing="10" >
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of apiData" align="center">
            <td>
                {{item.title}}
            </td>
            <td>
                {{item.body}}
            </td>
            <td>
                <button (click)="btnRemove()">&times;</button>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<ul>
    <li *ngFor="let per of PersonData">
        {{per.name}} - {{per.email}}
    </li>
</ul>
<hr/>
<table-display [items]="CustomerData"></table-display>
<table-display [items]="ItemsData"></table-display>
<table-display [items]="WeatherData"></table-display>
<hr/>
<ul>
    <li *ngFor="let tea of team">{{tea.name}} - {{tea.age}}</li>
</ul>
<hr/>
